
div{
    height: 100%;
    width: 100%;
}

div #j1{
    width: auto;
    height: auto;
    justify-content: inherit;
  align-items: inherit;
}

div #j2{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j3{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j4{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j5{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j6{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j7{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j8{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

div #j9{
    width: 49%;
    height: auto;
}

div #j10{
    width: 49%;
    height: auto;
}

