div {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width:1px) and (max-width:1279px){
  .c1{
      width: 20%;
      height: 20%;
  }
}

@media (min-width:1280px) and (max-width:1919px){
  .c1{
      width: 25%;
      height: 25%;
  }
  .c2{
      width: 50%;
      height: 50%;
  }
}

@media (min-width:1920px){
  .c1{
     width: 20%;
     height: 20%;
 }
}

/*
div #j1 {
  display: flex;
  flex-wrap: wrap;
}

div #j2 {
  display: flex;
  flex-wrap: wrap;
}

div #j3 {
  display: flex;
  flex-wrap: wrap;
}

div #j4 {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

div #j5 {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

div #j6 {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

div #j7 {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

div #j8 {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

div #j9 {
  width: 49%;
  height: auto;
}

div #j10 {
  width: 49%;
  height: auto;
}
*/